*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  font-size: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}
li {
  list-style-type: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: center;
}
