
.icon-home:before { content: '\e800'; } /* '' */
.icon-icons8-instagram-reels:before { content: '\e801'; } /* '' */
.icon-home_16dp_1f1f1f_fill0_wght400_grad0_opsz20-(1)-(2)-(1):before { content: '\e802'; } /* '' */
.icon-explore_16dp_1f1f1f_fill0_wght400_grad0_opsz20:before { content: '\e803'; } /* '' */
.icon-home-inner:before { content: '\e804'; } /* '' */
.icon-search-line:before { content: '\e805'; } /* '' */
.icon-send:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-post:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-threads:before { content: '\e80a'; } /* '' */
.icon-option:before { content: '\e80b'; } /* '' */
.icon-icons8-grid-96_1:before { content: '\e80c'; } /* '' */
.icon-avatar:before { content: '\e80d'; } /* '' */
.icon-heart-solid:before { content: '\e80e'; } /* '' */
.icon-comment-solid:before { content: '\e80f'; } /* '' */
